{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
    		<img class="img" src="{{ .Site.BaseURL }}images/{{ .Site.Params.avatar }}" alt="site image">
        </div>
		<h3>Hey There,</h3>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a Software Engineer and avid acorn collector.</h3>
		<h3>If you're like me and love collecting those acorns you should get an account with <a href="https://www.acorns.com">Acorns.</a></h3>
        <h3>But wait! If you sign up using my refferal code we both get &#x1F4B0;&#x1F4B0;$2.50&#x1F4B0;&#x1F4B0;extra credit! It's not much but it's a good start, and pretty neat if I say so myself. &#x1F609;</h3>
		<h3 class="grow"><a class="big-button" onclick="gtag_report_conversion" href="https://app.acornsau.com.au/invite/PK794R">Claim $2.50 with code PK794R on Acorn</a></h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
